{% load static %}
<html>

<head>
  <title>Resume Filter</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="stylesheet" href="{% static 'graphs_style.css' %}">
  <script type="text/javascript">
    google.charts.load('current', {
      packages: ['corechart']
    });
  </script>
</head>

<body>

  <div class="circle">Result:<br> No Matched</div>
  <div class="left">
  </div>

  <div class="right">
    <div class="centered">
    </div>
  </div>
</body>
</body>

</html>